* {
  margin: 0%;
  padding: 0%;
}

.fbfirstpage {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(./images/pexelsphoto897717.jpeg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(./images/pexelsphoto897717.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fb1left {
  font-size: 35px;
  color: #dfeb3e;
  width: 80em;
  padding-top: 10px;
  padding-left: 10em;
  text-align: center;
}

.fb1right {
  padding-right: 15em;
  color: white;
}

.fbsecondpage {
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.45)), to(rgba(0, 0, 0, 0.45))), url(./images/woodlandscapemountainsnature.jpg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(./images/woodlandscapemountainsnature.jpg);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  height: 25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.circle {
  margin-right: 5em;
  padding: 25px;
  text-align: center;
  border-radius: 50%;
  color: beige;
  background-color: black;
}

.fbcont {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.circle h3 {
  color: #dfeb3e;
}

.BN-container .BN-ConnorQuinn {
  height: 100vh;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(./images/background-1.jpeg);
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./images/background-1.jpeg);
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 480px) {
  .BN-container .BN-ConnorQuinn {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10%;
  }
}

.BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center {
  width: 648px;
  margin: auto;
}

.BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center .Connor-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 35px;
  margin: auto;
}

.BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center .Connor-image img {
  width: 100%;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center .Connor-image {
    width: 40%;
  }
}

.BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center .text {
  color: #ffffff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 35px;
}

.BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center .Connor-name h5 {
  font-size: 1.25rem;
  line-height: 1.2;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center .chevron {
  text-align: center;
  margin-top: 20px;
}

.BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center .chevron i {
  color: #f7c20d;
  font-size: 64px;
}

.BN-container .BN-ConnorQuinn .BN-ConnorQuinn-center .chevron i:hover {
  color: crimson;
}

.BN-container .BN-Carousel {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  position: relative;
}

@media (max-width: 480px) {
  .BN-container .BN-Carousel {
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    height: 1520px;
  }
}

.BN-container .BN-Carousel .gallery {
  position: relative;
}

@media (max-width: 480px) {
  .BN-container .BN-Carousel .gallery {
    margin: 0%;
    padding: 0%;
  }
}

.BN-container .BN-Carousel .gallery img {
  width: 100%;
  height: 380px;
}

.BN-container .BN-Carousel .gallery .chevron-left {
  position: absolute;
  top: 40%;
  left: 40%;
}

@media (max-width: 480px) {
  .BN-container .BN-Carousel .gallery .chevron-left {
    display: none;
  }
}

.BN-container .BN-Carousel .gallery .chevron-right {
  position: absolute;
  top: 40%;
  right: 40%;
}

@media (max-width: 480px) {
  .BN-container .BN-Carousel .gallery .chevron-right {
    display: none;
  }
}

.BN-container .BN-Carousel .gallery i {
  color: #f7c20d;
  font-size: 64px;
}

.BN-container .BN-Carousel .gallery i:hover {
  color: crimson;
}

.BN-container .BN-Carousel .dashes {
  position: absolute;
  width: 8%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 92%;
  left: 46%;
  z-index: 2;
}

@media (max-width: 480px) {
  .BN-container .BN-Carousel .dashes {
    display: none;
  }
}

.BN-container .BN-Carousel .dashes .dash {
  height: 10px;
  width: 30px;
  background: grey;
  opacity: 0.5;
}

.BN-container .BN-Carousel .dashes .dash:hover {
  background: #ffffff;
  cursor: pointer;
}

.container-AM {
  background-image: url(./images/backgroand.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
}

.content-Am {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 100px;
  padding-top: 100px;
}

.container-left-AM h1 {
  font-size: 80px;
  color: #f7c20d;
  padding-bottom: 30px;
  font-family: Merriweather, serif !important;
  font-weight: 400;
}

.container-left-AM p {
  font-size: 15px;
  line-height: 22px;
}

.container-left-AM a {
  color: #f7c20d;
  font-size: 30px;
  margin: 10px;
}

.container-left-AM .icon-Am {
  padding-top: 20px;
}

.container-right-AM {
  padding-top: 10px;
}

.container-right-AM input {
  margin: 10px;
  width: 300px;
  height: 10px;
  padding-bottom: 30px;
  background-color: transparent;
  color: #b3b3b3;
  border-color: #b3b3b3;
  overflow: visible;
}

.container-right-AM .ios {
  height: 40px;
}

.div-Am {
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
}

.div-Am .Am {
  width: 100px;
  height: 36px;
  background-color: #f7c20d;
  color: black;
  font-size: 16px;
}

.div-Am .Am:hover {
  color: white;
}

.div-Am .Am p {
  padding-top: 8px;
}

.conplate-Am {
  background-color: #333333;
  height: 90px;
}

.conplate-Am p {
  text-align: center;
  padding-top: 35px;
  color: white;
}

.conplate-Am span:hover {
  color: #ca9d9a;
}

.SA-container {
  width: 100%;
}

.SA-container .SA-header-content {
  background-image: url(./images/SA-background-first.jpeg);
  background-size: cover;
  background-position: center;
}

.SA-container .SA-header-content .SA-slider {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 70%;
      grid-template-columns: 30% 70%;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  height: 10vh;
}

@media (max-width: 480px) {
  .SA-container .SA-header-content .SA-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.SA-container .SA-header-content .SA-slider .SA-slider-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 5em;
}

@media (max-width: 480px) {
  .SA-container .SA-header-content .SA-slider .SA-slider-left {
    padding: 0px;
    padding: 30px 0px;
  }
}

@media (max-width: 480px) {
  .SA-container .SA-header-content .SA-slider .SA-slider-right {
    display: none;
  }
}

.SA-container .SA-header-content .SA-slider .SA-slider-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.SA-container .SA-header-content .SA-slider .SA-slider-right ul li a {
  text-decoration: none;
  color: lightgray;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.SA-container .SA-header-content .SA-slider .SA-slider-right ul li:hover {
  cursor: pointer;
  padding: 24px 30px;
  -webkit-transition: all ease-in 0.4s;
  transition: all ease-in 0.4s;
  color: red;
}

.SA-container .SA-header-content .SA-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 35px 0px;
}

.SA-container .SA-header-content .SA-header img {
  padding-bottom: 20px;
}

.SA-container .SA-header-content .SA-header h1 {
  font-size: 8rem;
  letter-spacing: 4px;
  color: #c5c50c;
}

.SA-container .SA-header-content .SA-header b {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-top: 12px;
  color: #cec8c8;
}

.SA-container .SA-header-content .SA-header i {
  font-size: 3em;
  padding-top: 25px;
  color: #c5c50c;
}

.SA-container .SA-trip-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url(./images/SA-background-second.jpeg);
  background-size: cover;
  background-position: center;
  padding: 40px;
}

@media (max-width: 480px) {
  .SA-container .SA-trip-list {
    display: block;
  }
}

.SA-container .SA-trip-list .SA-trip-list-left h1 {
  font-size: 4.1rem;
  font-weight: 400;
  line-height: 1.1;
  color: #c5c50c;
}

@media (max-width: 480px) {
  .SA-container .SA-trip-list .SA-trip-list-left h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.SA-container .SA-trip-list .SA-trip-list-right {
  width: 45%;
}

@media (max-width: 480px) {
  .SA-container .SA-trip-list .SA-trip-list-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
}

.SA-container .SA-trip-list .SA-trip-list-right p {
  font-size: 1rem;
  line-height: 1.6;
  padding: 15px 0px;
  color: #cac5c5;
}

.SA-container .SA-trip-list .SA-trip-list-right button {
  padding: 12px 18px;
  background-color: #f7c20d;
  border: none;
  font-size: 16px;
  font-weight: 400;
}
/*# sourceMappingURL=main.css.map */